/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.5;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import "mixins";
@import "typography";
@import "modules";

	.navlink{
		font-family:'ano_boldregular', helvetica, sans-serif;
		display:block;
		position:fixed;
		width:100%;
		margin:0;
		padding: .3em 0;
		text-decoration:none;
		font-weight:normal;
	}
	
	#nav-intro{z-index:90; top:0;}
	#nav-approach{z-index:70; top:2em;}
	#nav-graphics{z-index:50; top:4em;}
	#nav-credentials{z-index:30; top:6em;}

//Sections
		
section{
	display:block;
	position:relative;
	width:100%;
	min-height:1000px;
}

#intro-content{margin:300px 0 0 0;}
#approach-content{margin:300px 0 0 0;}
#graphics-content{margin:200px 0 0 0;}
#credentials-content{margin:400px 0 200px 0;}
#closing-content{margin:300px 0 0 0;}

#intro{z-index:100;}
#approach{z-index:80;padding-top:0px}
#graphics{z-index:60;padding-top:0px}
#credentials{z-index:40;padding-top:0px}
#closing{z-index:0;padding-top:0px}



//Text Balances
.intro-text{
	padding:15em 10%;
	float:left;
	width:40%;
}

.left-wide{
	float:left;
	width:50%;
	padding:5em 4% 5em 6%;
}

.left-narrow{
	float:left;
	width:30%;
	padding:5em 4% 5em 6%;
}

.right-wide{
	float:right;
	width:50%;
	padding:5em 6% 5em 4%;
}

.right-narrow{
	float:right;
	width:30%;
	padding:5em 6% 5em 4%;
}

.images{
	position:relative;
	min-height:400px;
	
	div{
		position:absolute;
	}
}

.triad{
	list-style-type:none;
	padding:5em 0;
	display:block;
	
	li{
		float:left;
		width:26%;
		padding:1em 2%;
	
		&:first-child{
			margin-left:5%;
		}
		
		&:last-child{
			margin-right:5%;
		}
	}
	
	img{
		width:100%;
	}
}

#graphics-img{
	img{
		width:100%;
	}
}











/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}