// Color Classes

.intro{
	background-color:$yellow;
	color:$green;	
}

.approach{
	background-color:$blue;
	color:$light-blue;	
}

.graphics{
	background-color:$red;
	color:$purple;
}

.credentials{
	background-color:$green;
	color:$yellow;
}

.closing{
	background-color:$light-blue;
	color:$blue;
}